<!DOCTYPE html>
<html>
<head>
  <title>Wenchang</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Wenchang</a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to "fetch",acm_fetch_path%></li>
        <li><%= link_to "search",acm_search_path%></li>
        <li><%=link_to "logout",destroy_user_session_path%></li>
      </ul>
    </div>
  </div>
  <div class="container">
<%= yield %>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
